.title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.clickRed{
    color:red;
    cursor: pointer;
}
.input {
    width: 40%;
    margin: 5px;
}
.list{
    text-align: center;
}
.span{
    margin-left: 20px;
    color: black;
}