.title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.input {
    width: 40%;
    margin: 5px;
}
.list{
    padding: 20px;
    color: gray;
    font-size: 16px;
}
.span{
    margin-left: 20px;
    color: black;
}